* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #10122e, #1cbab3);
  color: white;
  font-family: "open-sans", sans-serif;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  cursor: pointer;
  color: #1cbab3;
}

form button:hover {
  background-color: white;
  color: #10122e;
}
