* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #10122e, #1cbab3);
  color: white;
  font-family: "open-sans", sans-serif;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  cursor: pointer;
  color: #ffffff;
  background-color:#10122e;
}

form button:hover {
  background:white;
  color:#10122e;
}

.toDoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoList{
    min-width: 30%;
    list-style:none;
}

.toDo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.toDo li{
    flex: 1;
}

.deleteButton, .completeButton{
    background-color: rgb(255, 255, 255);
    color: rgb(244, 189, 189);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completeButton{
    background-color: rgb(21, 181, 31);
}

.deleteButton{
    background-color: rgb(219, 33, 33);
}

.toDoItem{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
text-decoration: line-through;
opacity: 0.5;
}

.fall{
  transform: translateY(100px) rotateZ(20deg);
  opacity: 0;
}

select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;

}

select{
  color:#10122e;
  // width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
  min-width: 10vw;
}

.select::after{
  content: "\25BC";
  position: absolute;
  background:#10122e;
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after{
  background: white;
  color:#10122e
}